/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: black;
  background-color: #3A2E5D;
}
body::-webkit-scrollbar {
  width: 0.75rem;
}
body::-webkit-scrollbar-track {
  background: #3A2E5D;
}
body::-webkit-scrollbar-thumb {
  background: dimgray;
}
main {
  padding: 1rem;
}
h1 {
  font-size: 3.7rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.9rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
li {
  font-size: 1.6rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  margin: 2%;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #32c8c8;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
}
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: dimgray;
  border-bottom: 2px solid black;
  height: 62px;
  top: 0;
  z-index: 4;
}
header div {
  width: 350px;
}
header div h1 {
  text-align: center;
}
header a {
  font-size: 2rem;
  margin: 0 3%;
}
#instruction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  align-self: flex-start;
  height: 25px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
  position: relative;
}
#instruction #info-text {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
#instruction:hover #info-text {
  visibility: visible;
  opacity: 1;
}
footer {
  bottom: 0;
}
footer .container {
  max-width: 100%;
  margin: 0;
  border-radius: 0;
  padding-top: 1%;
  padding-bottom: 0;
}
footer .container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  background-color: dimgray;
}
footer .container div * {
  margin: 1% auto;
}
footer .container nav {
  z-index: 4;
}
footer .container a {
  font-size: 2.5rem;
  margin: 4%;
}
.footer-image {
  width: 20px;
}
.full-screen {
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 0;
  position: fixed;
}
.color-blocker {
  height: 100%;
  width: 49.9%;
  background-color: #323232;
  position: fixed;
  z-index: 0;
  margin: 65px 0 0;
}
.left-blocker {
  left: 0px;
  border-radius: 0 15px 0 0;
}
.right-blocker {
  right: 0px;
  border-radius: 15px 0 0 0;
}
#main-section {
  margin-top: 30vh;
}
#main-section #introduction {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
#main-section #introduction img,
#main-section #introduction #bio {
  margin: 2% 1%;
  width: 48%;
}
#main-section #introduction #bio {
  display: flex;
  align-content: center;
  flex-direction: column;
}
#main-section #introduction img {
  border-radius: 20px 45px;
}
#list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
}
#list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}
#projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20vh;
}
.individual-project {
  pointer-events: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  width: 100%;
}
.individual-project a,
.individual-project div {
  margin: 2% 1%;
  width: 40%;
}
.individual-project a img,
.individual-project div img {
  border-radius: 20px 45px;
}
.individual-project a {
  z-index: 3;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  padding-bottom: 10px;
  max-width: 1000px;
  width: 100%;
  margin: 6% auto 1%;
  background-color: #3A2E5D;
  border-radius: 45px 20px;
  position: relative;
}
.inner-container {
  background-color: #C0C0C0;
  border: 2px solid black;
  width: 98%;
  height: 98%;
  padding-top: 5vh;
  margin-top: 0.5%;
  border-radius: 50px 15px;
}
.inner-container h2 {
  text-align: center;
}
