/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: black;
  background-color: #244E52;
}
body::-webkit-scrollbar {
  width: 0.75rem;
}
body::-webkit-scrollbar-track {
  background: #0C1634;
}
body::-webkit-scrollbar-thumb {
  background: #3A2E5D;
}
main {
  margin-left: 6rem;
  padding: 1rem;
}
h1 {
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #3A2E5D;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.nav-bar {
  width: 6rem;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: #0C1634;
  display: flex;
  justify-content: center;
  transition: width 200ms ease;
}
.nav-bar-nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 80%;
}
.nav-link {
  height: 6rem;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.nav-logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
}
.nav-bar:hover {
  width: 16rem;
}
.nav-bar:hover .nav-logo svg {
  transform: rotate(-180deg);
}
.fa-primary {
  color: #445175;
}
.fa-secondary {
  color: #524577;
}
.link-text {
  color: #0C1634;
  font-size: 1.3rem;
}
