* {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    color:black;
    background-color: @bgPurple;
  }
  body::-webkit-scrollbar{
    width: 0.75rem;
  }
  body::-webkit-scrollbar-track {
    background: @bgPurple;
  }
  body::-webkit-scrollbar-thumb {
    background: @bgBlue;
  }
  main {
    padding: 1rem;
  }
  h1 {
    font-size: 3.7rem;
  }
  h2 {
    font-size: 3.2rem;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 2.9rem;
    padding-bottom: 10px;
  }
  h4 {
    font-size: 2.5rem;
    padding-bottom: 10px;
  }
  li {
    font-size: 1.6rem;
  }
  p {
    line-height: 1.5;
    font-size: 1.6rem;
    margin:2%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  