header{
    position:fixed;
    .flexMixin(@justify: center, @align:center);
    width:100%;
    background-color: #C0C0C0;
    border-bottom:2px solid black;
    height:6%;
    top:0;
    z-index: 2;
}