header{
    position:fixed;
    .flexMixin(@justify: center, @align:center);
    width:100%;
    background-color: #C0C0C0;
    border-bottom:2px solid black;
    height:62px;
    top:0;
    z-index: @top;
    a{
        font-size:2rem;
    }
}
footer{
    bottom:0;
    .container{
        max-width:100%;
        margin:0;
        border-radius:0;
        padding-top: 1%;
        padding-bottom:0;
        div{
            .flexMixin(@direction:column, @justify:center);
            width:100%;
            background-color: #C0C0C0;
            *{
                margin:1% auto;
            }
        }
    }
}
.footer-image{
    width:20px;
}