#main-section{
    color:black;
}
#projects{
    .flexMixin(@justify:center);
    flex-wrap: wrap;
}
.individual-project{
    .flexMixin(@justify:center);
    width:100%;
    a, div{
        margin:2% 1%;
        width:40%;
    }
}
