#main-section{
    color:black;
}
#projects{
    .flexMixin(@justify:center);
    flex-wrap: wrap;
}
.individual-project{
    .flexMixin(@justify:center);
    width:100%;
    a{
        font-size: 4rem;
        color: black;
        text-decoration: none;
    }
}
