// Color assignments 
// @font-color: @shark;
// @button-bg: @eastern-blue;
// @main-bg:  @white;
// @navigation-border: @silver;
// @footer-bg: @sandy-beach;

// Colors
@bgBlue: #0C1634;
@bgPurple: #3A2E5D;
@bgGreen: #244E52;
@color-purple: #524577;
@color-blue: #445175;