// Color assignments 
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@bgBlue: #657293;
@bgPurple: #6F648F;
@bgGreen: #547B7F;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;