// Color assignments 
// @font-color: @shark;
// @button-bg: @eastern-blue;
// @main-bg:  @white;
// @navigation-border: @silver;
// @footer-bg: @sandy-beach;

// Colors
@bgBlue: dimgray;
@bgPurple: #3A2E5D;
@bgGreen: #244E52;
@color-purple: #524577;
@color-blue: #445175;

// positions
@top: 4; // links
@upper: 3; // event listener
@middle: 2; // middle layer
@lower: 1; // lower layer
@bottom: 0; // color change and background
